<template name="sidebarLeft">
	<div class="sidebar-left"> <!-- SIDEBAR LEFT -->
    <ul class="center">
      <!-- {{#if isAdmin}} -->
        <li class="has-dropdown">          
          <a href="{{pathFor 'org.show'}}" 
            class="{{returnIfRoute 'org.show' 'active'}} {{returnIfRoute 'org.edit' 'active'}}">
            <i class="icon-library"></i> 
            <span>{{i18n 'Organization'}}</span>
          </a>
          <ul class="sidebar-left-dropdown">
            <li><a href="{{pathFor 'org.show'}}" class="{{returnIfRoute 'org.show' 'active'}}">{{i18n 'See'}} org</a></li>
            <li><a href="{{pathFor 'org.edit'}}" class="{{returnIfRoute 'org.edit' 'active'}}">{{i18n 'Edit'}}</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="{{pathFor 'tickets.index'}}" 
            class="{{returnIfRoute 'tickets.index' 'active'}} {{returnIfRoute 'ticket.new' 'active'}}">
            <i class="icon-ticket"></i> 
            <span>Tickets</span>
          </a>
          <ul class="sidebar-left-dropdown">
            <li><a href="{{pathFor 'tickets.index'}}" class="{{returnIfRoute 'tickets.index' 'active'}}">Tickets</a></li>
            <li><a href="{{pathFor 'ticket.new'}}" class="{{returnIfRoute 'ticket.new' 'active'}}">{{i18n 'New ticket'}}</a></li>
          </ul>
        </li>
        <li>
          <a href="{{pathFor 'users.index'}}" 
            class="{{returnIfRoute 'users.index' 'active'}} {{returnIfRoute 'user.show' 'active'}}">
            <i class="icon-users2"></i> 
            <span>{{i18n 'Users'}}</span>
          </a>
        </li>
        <li>
          <a href="{{pathFor 'evals.index'}}" 
            class="{{returnIfRoute 'evals.index' 'active'}} {{returnIfRoute 'eval.show' 'active'}}">
            <i class="icon-clipboard-check"></i>
            <span>{{i18n 'Evals'}}</span>
          </a>
        </li>
      <!-- {{/if}} -->
      <!-- {{#if isTeacher}} -->
        <!-- <li>
          <a href="{{pathFor 'tickets.index'}}" 
            class="{{returnIfRoute 'tickets.index' 'active'}} {{returnIfRoute 'ticket.new' 'active'}}">
            <i class="icon-ticket"></i> 
            <span>Tickets</span>
          </a>
        </li>
        <li>
          <a href="{{pathFor 'users.index'}}" 
            class="{{returnIfRoute 'users.index' 'active'}}">
            <i class="icon-graduation-hat"></i> 
            <span>{{i18n 'Students'}}</span>
          </a>
        </li> -->
      <!-- {{/if}} -->
      <!-- {{#if isStudent}} -->
      <!-- {{/if}} -->
    </ul>
    <ul class="bottom">
      <li class="user">
        <a href="{{userOwnProfile}}" 
          class="{{returnIfRoute 'user.show' 'active'}} {{returnIfRoute 'user.edit' 'active'}}">
          <img src="/img/user.jpg" alt="">
          <span>G. Andrés Ibarra</span>
        </a>
      </li>
      <li>
        <a href="{{pathFor 'settings.edit'}}" 
          class="{{returnIfRoute 'settings.edit' 'active'}}">
          <i class="icon-gear"></i> 
          <span>{{i18n 'Settings'}}</span>
        </a>
      </li>
      <li>
        <a href="#" id="signout">
          <i class="icon-power"></i> 
          <span>{{i18n 'Logout'}}</span>
        </a>
      </li>
    </ul>
  </div> <!-- END:SIDEBAR LEFT -->
</template>
