<template name="sidebarRight">
	<div class="sidebar-right">
	  <div class="body">
	    <div class="top">
	      <span>Filtrar</span>
	    </div>
	    <div class="center">
	      <div class="section section-open">
	        <a href="#" class="section-toggle">Section 1</a>
	        <div class="section-body p-14">
	          <div class="form-group">
	            <label for="">Dropdown</label>
	            <select name="" id="" class="form-control input-sm select-override">
	              <option value="Option 1">Option 1</option>
	            </select>
	          </div>
	          <div class="form-group">
	            <label for="">Input</label>
	            <input type="text" class="form-control input-sm" placeholder="Input value">
	          </div>
	        </div>
	      </div>
	      <div class="section">
	        <a href="#" class="section-toggle">Section 2</a>
	        <div class="section-body p-14">
	          <div class="form-group">
	            <label for="">Dropdown</label>
	            <select name="" id="" class="form-control input-sm select-override">
	              <option value="Option 1">Option 1</option>
	            </select>
	          </div>
	          <div class="form-group">
	            <label for="">Input</label>
	            <input type="text" class="form-control input-sm" placeholder="Input value">
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="bottom"></div>
	  </div>
	</div>
</template>
