<template name="orgEdit">
	<div class="container-xs ptp-7">
		<div class="panel bg-white">
			<div class="head">
				<div class="title">
					<h5 class="uppercase">Edit Organization Info</h5>
				</div>
				<div class="actions pt-7">
					<nav>
						<a href="{{pathFor 'org.show'}}" class="text-danger">Cancel</a>
					</nav>
				</div>
			</div>
			{{#autoForm collection="Orgs" doc=org id="orgEditForm" type="update"}}
				<div class="body p-14">
					{{> afQuickField name='name'}}
					{{> afQuickField name='description' rows="3"}}
				</div>
				<div class="footer p-14 text-right">
					<button type="submit" class="btn btn-outline btn-danger">{{i18n 'Save'}}</button>
				</div>
			{{/autoForm}}
		</div>
	</div>
</template>