html,
body {
	min-height: 100%;
	height: 100%;
	background-color: $body-bg;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-content {
	min-height: 100%;
	height: 100%;
	position: relative;
}

// SIZE CONTROL
	// I assume that the 'md' size is the default size
	// Control the sizes of elements by using $size-control variables at the top of this file
.size {
	&.xs {}
	&.sm {}
	&.lg {}
	&.xl {}
}

.site-wrapper {
	&.sidebar-left-wide {
		.sidebar-left {
			width: 210px;
			display: block;
		}
		.site-content {
			margin-left: 210px;
			@include calc(width, "100% - 210px");
			// width: -moz-calc(100% - 210px);
			// width: -webkit-calc(100% - 210px);
			// width: calc(100% - 210px);
		}
	}
	&.sidebar-left-shrink {
		.sidebar-left {
			width: 77px;
			display: block;
			> ul.center {
				li {
					text-align: center;
					position: relative;
					a {
						padding: $container-fluid 0;
						display: block;
						@include clearfix;
						i:first-child {
							display: block;
							margin-bottom: 7px;
							margin-right: 0;
						}
						i:last-child {
							display: none;
						}
						span {
							display: block;
							font-size: 9px;
							text-transform: uppercase;
						}
					}
					> ul {
						@include position(absolute, 0 null null 100%);						
						min-width: 140px;
						li {
							a {
								display: block;
								padding: ($container-fluid / 2) 0;
								&:hover {

								}
							}
						}
					}
				}
			}
			> ul.bottom {
				li {
					position: relative;
					a {
						text-align: center;
						&:hover {

						}
						img {
							margin: 0;
						}
						span {
							display: block;
							font-size: 9px;
							text-transform: uppercase;
						}
						i:first-child {
							display: block;
							margin-bottom: 7px;
							margin-right: 0;
						}
					}
					&.user {
						span {
							display: none;
						}
					}
				}
			}
		}
		.nav-top {
			// margin-left: 77px;
			// width: -moz-calc(100% - 77px);
			// width: -webkit-calc(100% - 77px);
			// width: calc(100% - 77px);
		}
		.site-content {
			margin-left: 77px;
			@include calc(width, "100% - 77px");
			// width: -moz-calc(100% - 77px);
			// width: -webkit-calc(100% - 77px);
			// width: calc(100% - 77px);
		}
	}
	&.sidebar-right-on {
		.sidebar-right {
			display: block;
		}
		.site-content {
			padding-right: 280px;
		}
	}
	&.content-padding {
		.site-content {
			> .body {
				@include padding(35px 140px 84px 140px);
				// padding-left: 140px;
				// padding-right: 140px;
				// padding-top: 35px;
				// padding-bottom: 84px;
			}
		}
	}
	&.fixed-nav-top {
		.sidebar-left {
			padding-top: 70px;
		}
		.site-content {
			padding-top: 70px;
		}
	}
}

.site-content {
	min-height: 1080px;
}

.layout-control {
	background: darken(white, 3%);
	padding: $container-fluid 0;
	min-height: 63px;
}

.section {
	.section-toggle {
		display: block;
		padding: ($container-fluid / 2) $container-fluid;
		color: $gray;
		&:hover {
			background: $gray-lighter;
			color: $gray;
		}
		&:before {
			content: "\e760";
			font-family: "icomoon";
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			margin-right: 7px;
			font-size: 9px;
		}
	}
	.section-body {
		display: none;
	}
	&.section-open {
		.section-toggle {
			&:before {
				content: "\e75f";
				font-family: "icomoon";
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		.section-body {
			display: block;
		}
	}
}

// PROGRESS BARS CUSTOM
.progress {
	width: 100%;
	margin: 0;
}