.header {
	ul {
		@include list-unstyled;
		@include clearfix;
		li {
			&.left {
				float: left;
			}
			&.right {
				float: right;
				@include clearfix;
				> ul {
					@include list-unstyled;
					@include clearfix;
					li {
						margin-left: 14px;
						float: right;
					}
				}
			}
		}
	}
	.logo {
		img {
			width: 35px;
			height: auto;
		}
	}
}