<template name="userShow">
	<div class="container-xs pvp-7">
		<div class="panel">
			<div class="head bg-white">
				<div class="title">
					<h5 class="uppercase">Your Profile</h5>
				</div>
				<div class="actions pt-7">
					<nav>
						<a href="#">Actions</a>
					</nav>
				</div>
			</div>
			<div class="body">
				<div class="bg-gray-darker minh-210 border-radius text-center p-14">
					<img src="/img/user.jpg" width="140" height="auto" class="img-circle img-thumbnail" alt="">
				</div>				
			</div>
		</div>
	</div>
</template>