<template name="usersIndex">
	<div class="page-control">
		<div class="container-fluid">
		  <ul class="flex-space-between">
		    <li></li>
		    <li><a href="#" class="sidebar-right-trigger btn btn-outline btn-sm btn-gray">Toggle Filters</a></li>
		  </ul>
		</div>
		</div>
		<div class="table-responsive">
		<table class="table table-hover table-custom">
		  <thead>
		    <tr>
		      <td>Pic</td>
		      <td>Name</td>
		      <td>Lastname</td>
		      <td>Organization</td>
		      <td>Type</td>
		      <td>Age</td>
		      <td>Gender</td>
		      <td>State labels</td>
		      <td>Actions</td>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><img src="/img/user.jpg" width="28" height="28" class="img-circle" alt="user_pic"></td>
		      <td>Gus</td>
		      <td>Ibarra</td>
		      <td>Organization Name</td>
		      <td>User Type</td>
		      <td>24</td>
		      <td>gender</td>
		      <td><span class="label label-default">Default</span> <span class="label label-primary">Primary</span> <span class="label label-danger">Danger</span></td>
		      <td><a href="{{pathFor 'user.show'}}" class="btn btn-sm btn-default">See profile</a> <a href="#" class="text-danger">Delete</a></td>
		    </tr>
		  </tbody>
		</table>
		</div>
</template>