<template name="usersIndex">
	<div class="page-control">
		<div class="container-fluid">
		  <ul class="flex-space-between">
		    <li></li>
		    <li><a href="#" class="sidebar-right-trigger btn btn-outline btn-sm btn-gray">Toggle Filters</a></li>
		  </ul>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-hover table-custom">
		  <thead>
		    <tr>
		      <td>{{i18n 'Pic'}}</td>
		      <td>{{i18n 'Name'}}</td>
		      <td>{{i18n 'Lastname'}}</td>
		      <td>{{i18n 'Organization'}}</td>
		      <td>{{i18n 'Type'}}</td>
		      <td>{{i18n 'Birthday'}}</td>
		      <td>{{i18n 'Gender'}}</td>
		      <td>{{i18n 'Actions'}}</td>
		    </tr>
		  </thead>
		  <tbody>
		  	{{#each usersByType}}
		    <tr>
		      <td><img src="/img/user.jpg" width="28" height="28" class="img-circle" alt="user_pic"></td>
		      <td>{{name}}</td>
		      <td>{{lastname}}</td>
		      <td>{{orgName}}</td>
		      <td>{{type}}</td>
		      <td>{{parseDate info.birthday}}</td>
		      <td>{{info.gender}}</td>
		      <td><a href="/user-show/{{_id}}" class="">{{i18n 'See profile'}}</a></td>
		    </tr>
		    {{/each}}
		  </tbody>
		</table>
	</div>
</template>