<template name="userEdit">
	<div class="container-xs pvp-7">
		<div class="panel">
			<div class="head bg-white">
				<div class="title">
					<h5 class="uppercase">Editing Your Profile</h5>
				</div>
				<div class="actions pt-7">
					<nav>
						<a href="{{userOwnProfile}}" class="text-danger">Cancel</a>
					</nav>
				</div>
			</div>
			{{#autoForm collection="Meteor.users" doc=user id="userEditForm" type="update"}}
				<div class="body">
					<div class="bg-gray-darker minh-210 border-radius text-center p-14 text-white">
						<div>
							<img src="/img/user.jpg" width="140" height="auto" class="img-circle img-thumbnail" alt="">
						</div>
						<h3>{{user.name}} {{user.lastname}}</h3>
						<span>Student</span>
					</div>
					<div class="p-14 bg-white">
						<h5 class="uppercase">Basic info</h5>
						<div class="row">
							<div class="col-sm-6">
			      		{{> afQuickField name='name'}}
							</div>
							<div class="col-sm-6">
								{{> afQuickField name='lastname'}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								{{> afQuickField name='info.birthday' type="date"}}
							</div>
							<div class="col-sm-4">
								{{> afQuickField name='info.gender' options="allowed" noselect=true}}
							</div>
						</div>
						<h5 class="uppercase">Address</h5>
						<div class="row">
							<div class="col-sm-6">
								{{> afQuickField name='address.street'}}
							</div>
							<div class="col-sm-6">
								{{> afQuickField name='address.country'}}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								{{> afQuickField name='address.city'}}
							</div>
							<div class="col-sm-6">
								{{> afQuickField name='address.ZIP'}}
							</div>
						</div>
					</div>
				</div>
				<div class="footer p-14 text-right bg-white">
					<button type="submit" class="btn btn-outline btn-danger submit">{{i18n 'Save'}}</button>
				</div>
			{{/autoForm}}
		</div>
	</div>
</template>